:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3C92FA;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{ 
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{

    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);

}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700px;
}

.container__imagem{
    margin: 1em 0em 2em 0em;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0em 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}  

.dispositivos{
    text-align: center;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.rodape{
    text-align: center;
    padding: 40px;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 15px;
    margin: 3em 0;
    
}

.lista__link > a{
    color: white;
    text-decoration: none;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.rodape__texto{
    color: #C0C0C0;
    font-size: 14px;
    max-width: 1200px;
    margin: 0 auto 15px;
}

@media (max-width: 576px){
    .mobile{
        display: flex; 
    }

    .container__imagem{
        width: 80%;
    }
    .dispositivos__lista{
        padding-left: 0px;
    }
    .rodape__lista{
        flex-direction: column;
        padding-left: 0px;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        
    }

    .container__caixa{
        margin: 10px auto;
        padding: 0px 20px;
    }
    .container__titulo{
        font-size: 1.3em;
        background-color: #00000096;
        border-radius: 10px;
        padding: 7px;
    }

    .container__descricao{
        text-align: center;
    }
  
    .principal{
        background-size: auto 100%;
        background-position: center right;    
    }

    .secundario{
        margin: 100px 0px;
    }

    .descricao__titulo{
        text-align: center;
        font-size: 32px;
    }

    .descricao__texto{
        text-align: center;
    }
}
@media (min-width:577px) and (max-width: 1310px){
    .mobile{
        display: flex; 
        justify-content: center;
    }
    
    .principal{
        background-size: auto 100%;
        background-position: center right;
    }

    .secundario{
        margin: 100px 0px;
    }

    .container{
        height: auto;
    }

    .container__imagem {
        width: 70%;
        max-width: 400px;
    }

    .container__titulo {
        font-size: 21px;
    }
}